@import "tailwindcss";
@plugin "daisyui";

body {
    background-color: #f5f5f5;
}

.banner1 {
    height: 140px;
    position: relative; 
    overflow: hidden; 
   background-image: linear-gradient(to right, #a166f2, #723be7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1; 
}


.banner1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/vector1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center; 
    mix-blend-mode: overlay; 
    z-index: 0;
}


.banner1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url('../public/vector1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center; 
    mix-blend-mode: overlay; 
    z-index: 0;
    transform: scaleX(-1);
}
.banner2 {
    height: 140px;
    position: relative; 
    overflow: hidden; 
   background-image: linear-gradient(to right, #54cf68, #01827a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1; 
}


.banner2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/vector1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center; 
    mix-blend-mode: overlay; 
    z-index: 0;
}


.banner2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-image: url('../public/vector1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center; 
    mix-blend-mode: overlay; 
    z-index: 0;
    transform: scaleX(-1);
}